<div id="menu"><tag:menu /></div>
<tag:notify />

<h1 class="header">
 <if:actions>
  <span class="smallheader rightFloat">
    <loop:actions><divider:actions> | </divider:actions><tag:actions /></loop:actions></span>
 </if:actions>
 <gettext>Forums</gettext>
</h1>

<if:forums_list>
<table class="linedRow" style="width:100%; border-collapse:collapse;">
 <tr class="item">
  <th style="width:75%"<tag:col_headers.forum_name_class />>
   <tag:col_headers.forum_name />
  </th>
  <th style="width:5%; text-align:center"<tag:col_headers.message_count_class />>
   <tag:col_headers.message_count />
  </th>
  <th style="width:5%; text-align:center"<tag:col_headers.thread_count_class />>
   <tag:col_headers.thread_count />
  </th>
  <th style="width:20%"<tag:col_headers.message_timestamp_class />>
   <tag:col_headers.message_timestamp />
  </th>
 </tr>

 <loop:forums_list>
 <tr valign="top">
  <td>
   <strong><tag:forums_list.indent /><if:forums_list.url><a href="<tag:forums_list.url />"></if:forums_list.url><tag:forums_list.forum_name /><if:forums_list.url></a></if:forums_list.url></strong>
   <p><tag:forums_list.forum_description /></p>
   <if:forums_list.actions>
   <small>
   <gettext>Actions</gettext>:
   <loop:forums_list.actions><divider:forums_list.actions>, </divider:forums_list.actions><tag:forums_list.actions /></loop:forums_list.actions>
   </small>
   </if:forums_list.actions>
   <if:forums_list.moderators>
   <small>
   <br />
   <gettext>Moderators</gettext>:
   <loop:forums_list.moderators><divider:forums_list.moderators>, </divider:forums_list.moderators><tag:forums_list.moderators /></loop:forums_list.moderators>
   </small>
   </if:forums_list.moderators>
  </td>
  <td style="text-align:center">
   <tag:forums_list.message_count />
  </td>
  <td style="text-align:center">
   <tag:forums_list.thread_count />
  </td>
  <td>
   <if:forums_list.message_url>
   <a href="<tag:forums_list.message_url />"><tag:forums_list.message_subject /></a><br />
   <tag:forums_list.message_date />
   <gettext>by</gettext>
   <tag:forums_list.message_author />
   </if:forums_list.message_url>
  </td>
 </tr>
 </loop:forums_list>
</table>

<if:pager_link>
 <tag:pager_link />
</if:pager_link>

<else:forums_list>
 <p><em><gettext>No forums have been created.</gettext></em></p>
</else:forums_list>
</if:forums_list>
