<div id="menu">
 <tag:menu />
</div>

<tag:notify />

<div class="tabset">
 <ul>
   <li><a href="<tag:stories_link />"><gettext>Stories</gettext></a></li>
   <li class="activeTab"><a href="#"><gettext>Email subscribers</gettext></a></li>
 </ul>
</div>
<br class="clear" />

<div class="header">
 <span class="smallheader" style="float:right">
  <loop:actions>
   <divider:actions> | </divider:actions>
   <tag:actions.link /><tag:actions.text /></a>
  </loop:actions>
 </span>
 <tag:header />
</div>

<if:recipients>
<tag:pager />
<table width="100%" cellspacing="0" class="linedRow">
 <tr class="item">
  <th width="1%">&nbsp;</th>
  <loop:listheaders>
  <th class="leftAlign">
   <tag:listheaders />
  </th>
  </loop:listheaders>
 </tr>

 <loop:recipients>
 <tr>
  <td>
   <tag:recipients.delete_link />
  </td>
  <td>
   <tag:recipients.recipient />
  </td>
  <td>
   <tag:recipients.driver />
  </td>
  <td>
   <tag:recipients.name />
  </td>
 </tr>
 </loop:recipients>
</table>

<tag:pager />

</if:recipients>
