/**
 * $Horde: agora/themes/screen.css,v 1.4.2.1 2008/05/13 21:39:22 jan Exp $
 */

.messageContainer {
    padding: 2px;
    background: #e9e9e9;
    margin-bottom: 8px;
}
.messageBody {
    background: #fff;
    border: 1px solid #ccc;
}
.messageBody p {
    padding: 1em;
}
