<if:threads_list>
<table cellspacing="0" class="linedRow nowrap" style="width:100%">
<thead>
 <tr class="item">
  <th style="width:60%"<tag:col_headers.message_thread_class />>
   <tag:col_headers.message_thread />
  </th>
  <th style="width:20%"<tag:col_headers.message_author_class />>
   <tag:col_headers.message_author />
  </th>
  <th style="width:20%"<tag:col_headers.message_date_class />>
   <tag:col_headers.message_date />
  </th>
 </tr>
</thead>
<loop:threads_list>
<tbody>
 <tr class="<tag:threads_list.class />" valign="top">
  <td>
   <tag:threads_list.link /><tag:threads_list.message_subject /></a>
   <if:thread_view_bodies>
   <table class="item" style="width:100%">
    <tr>
     <td class="box">
      <tag:threads_list.message_body />
     </td>
    </tr>
   </table>
   </if:thread_view_bodies>
  </td>
  <td>
   <tag:threads_list.message_author />
  </td>
  <td>
   <tag:threads_list.message_date />
  </td>
 </tr>
</tbody>
</loop:threads_list>
</table>
</if:threads_list>
