<table class="linedRow" cellspacing="0" style="width:100%">
<thead>
 <tr class="item nowrap">
  <th<tag:col_headers.message_subject_class />>
   <tag:col_headers.message_subject />
  </th>
  <th<tag:col_headers.message_author_class />>
   <tag:col_headers.message_author />
  </th>
  <th<tag:col_headers.message_date_class />>
   <tag:col_headers.message_date />
  </th>
 </tr>
<tbody>
<if:threads>
<loop:threads>
 <tr class="<tag:threads.class />">
  <td>
   <tag:threads.link /><tag:threads.message_subject /></a>
  </td>
  <td>
   <tag:threads.message_author />
  </td>
  <td>
   <tag:threads.message_date />
  </td>
 </tr>
</loop:threads>
<else:threads>
 <tr>
  <td colspan="4" class="control" align="center">
   <gettext>No threads</gettext>
  </td>
 </tr>
</else:threads>
</if:threads>
</tbody>
</table>
