<?php
/**
 * $Horde: framework/Rdo/examples/Horde/Rdo/conf.php.dist,v 1.1.2.1 2008/05/15 23:23:14 chuck Exp $
 */

// Dist config file for Rdo examples.
$conf['sql']['adapter'] = 'pdo';
$conf['sql']['phptype'] = 'mysql';
$conf['sql']['dsn'] = 'dbname=horde;host=127.0.0.1';
$conf['sql']['username'] = 'horde';
$conf['sql']['password'] = '';
$conf['sql']['charset'] = 'iso-8859-1';
$conf['sql']['splitread'] = false;
