<table style="width:100%; border-collapse:collapse;" class="item linedRow">
 <tr class="item">
  <th style="width:60%" class="leftAlign <tag:col_headers.message_thread_class_plain />">
   <tag:col_headers.message_thread />
  </th>
  <th style="width:20%" class="leftAlign <tag:col_headers.message_author_class_plain />">
   <tag:col_headers.message_author />
  </th>
  <th style="width:19%" class="leftAlign <tag:col_headers.message_timestamp_class_plain />">
   <tag:col_headers.message_timestamp />
  </th>
 </tr>
</table>

<loop:threads_list>

<div class="messageContainer">

<div class="messageAuthor">
 <tag:threads_list.link /><strong><tag:threads_list.message_subject /></strong></a><br />
  <gettext>Posted by</gettext>: <tag:threads_list.message_author /><br />
  <gettext>on: </gettext> <tag:threads_list.message_date />
  <tag:threads_list.link /></a>
  <if:threads_list.message_author_moderator>
   <br /><gettext>Moderator</gettext>
  </if:threads_list.message_author_moderator>
 <if:threads_list.actions>
  <br />
  <span class="small">
  [<loop:threads_list.actions><divider:threads_list.actions>, </divider:threads_list.actions><tag:threads_list.actions /></loop:threads_list.actions>]
  </span>
 </if:threads_list.actions>
</div>

<div class="messageBody">
 <p>
  <tag:threads_list.body />
 </p>
</div>

<br class="clear" />
</div>

</loop:threads_list>
