<loop:threads_list>

<div class="messageContainer" style="margin-left: <tag:threads_list.indent />0px">

<div class="messageAuthor">
 <tag:threads_list.link /><strong><tag:threads_list.message_subject /></strong></a><br />
  <gettext>Posted by</gettext> <tag:threads_list.message_author /><br />
  <gettext>on: </gettext> <tag:threads_list.message_date />
  <if:threads_list.message_author_moderator>
   <br /><gettext>Moderator</gettext>
  </if:threads_list.message_author_moderator>
  <br /> [
  <span class="small">
  <loop:threads_list.actions>
    <divider:threads_list.actions>, </divider:threads_list.actions><tag:threads_list.actions />
  </loop:threads_list.actions> ]
  </span>
 </if:threads_list.actions>
</div>

<div class="messageBody">
 <p>
  <tag:threads_list.body />
 </p>
</div>

<br class="clear" />
</div>

</loop:threads_list>
