<div id="menu"><tag:menu /></div>
<tag:notify />

<div class="header">
 <if:actions>
  <span class="smallheader rightFloat">
   <loop:actions><divider:actions> | </divider:actions><tag:actions /></loop:actions>
  </span>
 </if:actions>
 <if:message_subject><tag:message_subject /><else:message_subject>&nbsp;</else:message_subject></if:message_subject>
</div>

<div class="messageContainer">
 <div class="messageAuthor">
  <if:message_author_avatar>
   <img src="<tag:message_author_avatar />" alt="<tag:message_author />" />
   <br />
  </if:message_author_avatar>
  <tag:message_author />
  <if:message_author_moderator>
   <br /><gettext>Moderator</gettext>
  </if:message_author_moderator>
 </div>
 <div class="messageBody">
  <p>
   <tag:message_body />
   <if:message_attachment><br /><tag:message_attachment /></if:message_attachment>
  </p>
 </div>
 <br class="clear" />
</div>

<h1 class="header">
 <gettext>Thread Summary</gettext>
</h1>

<div class="item">
 <tag:threads />
</div>

<if:pager_link>
 <tag:pager_link />
</if:pager_link>

<br class="spacer" />
<tag:form />
