<div id="menu"><tag:menu /></div>
<tag:notify />

<div class="header">
 <if:actions>
  <span class="smallheader rightFloat">
   <loop:actions><divider:actions>, </divider:actions><a href="<tag:actions.url />" class="smallheader"><tag:actions.label /></a></loop:actions>
  </span>
 </if:actions>
 <tag:forum_name />
</div>
<div class="control">
 <tag:forum_description />
</div>

<if:threads>
<table style="width:100%; border-collapse:collapse;" class="linedRow">
 <tr class="item">
  <th style="width:50%"<tag:col_headers.message_subject_class />>
   <tag:col_headers.message_subject />
  </th>
  <th style="width:10%; text-align: center;"<tag:col_headers.message_seq_class />>
   <tag:col_headers.message_seq />
  </th>
  <th style="width:20%; text-align: center;"<tag:col_headers.views_count_class />>
   <tag:col_headers.view_count />
  </th>
  <th style="width:20%; text-align: center;"<tag:col_headers.message_author_class />>
   <tag:col_headers.message_author />
  </th>
  <th style="width:19%"<tag:col_headers.message_modifystamp_class />>
   <tag:col_headers.message_modifystamp />
  </th>
 </tr>

 <loop:threads>
 <tr class="<tag:threads.class />">
  <td>
   <tag:threads.link /><tag:threads.message_subject /></a>
   <tag:threads.hot />
   <tag:threads.new />
   <small>
    <if:threads.pages><br />[ <gettext>Goto page:</gettext> <loop:threads.pages><divider:threads.pages>, </divider:threads.pages><tag:threads.pages /></loop:threads.pages> ]</if:threads.pages>
    <if:threads.actions><br />[<loop:threads.actions><divider:threads.actions>, </divider:threads.actions><tag:threads.actions /></loop:threads.actions> ]</if:threads.actions>
   </small>
  </td>
  <td style="text-align: center;">
   <tag:threads.message_seq />
  </td>
  <td style="text-align: center;">
   <tag:threads.view_count />
  </td>
  <td style="text-align: center;">
   <tag:threads.message_author />
  </td>
  <td>
   <if:threads.message_url>
    <tag:threads.message_url /><tag:threads.last_message_date /></a><br />
    <gettext>by</gettext>
    <tag:threads.last_message_author />
   </if:threads.message_url>
  </td>
 </tr>
 </loop:threads>
</table>

<if:pager_link>
 <tag:pager_link />
</if:pager_link>

<else:threads>
 <p><em><gettext>There are no threads in this forum.</gettext></em></p>
</else:threads>
</if:threads>
