<div id="menu"><tag:menu /></div>
<tag:notify />

<if:messages>

<form name="messages" action="moderate.php" method="post">
<tag:session_tag />

<h1 class="header"><gettext>Messages Awaiting Moderation</gettext></h1>
<table cellspacing="0" width="100%" class="linedRow">
<thead>
 <tr class="item">
  <th width="1%">
   <input type="checkbox" class="checkbox" />
  </th>
  <th<tag:col_headers.forum_id_class />>
   <tag:col_headers.forum_id />
  </th>
  <th<tag:col_headers.message_subject_class />>
   <tag:col_headers.message_subject />
  </th>
  <th<tag:col_headers.message_author_class />>
   <tag:col_headers.message_author />
  </th>
  <th<tag:col_headers.message_body_class />>
   <tag:col_headers.message_body />
  </th>
  <th<tag:col_headers.message_timestamp_class />>
   <tag:col_headers.message_timestamp />
  </th>
 </tr>
</thead>
<tbody>
 <loop:messages>
 <tr class="<tag:messages.class />" style="vertical-align:top">
  <td><input type="checkbox" class="checkbox" name="message_ids[]" value="<tag:messages.message_id />" /></td>
  <td class="nowrap"><tag:messages.forum_name /></td>
  <td><tag:messages.message_subject /></td>
  <td><tag:messages.message_author /></td>
  <td><tag:messages.message_body /></td>
  <td class="nowrap"><tag:messages.message_date /></td>
 </tr>
 </loop:messages>
</tbody>
</table>
<p>
 <loop:buttons>
  <input type="submit" class="button" name="action" value="<tag:buttons />" />
 </loop:buttons>
</p>
</form>

<if:pager_link><tag:pager_link /></if:pager_link>

</if:messages>
