<div id="menu"><tag:menu /></div>
<tag:notify />

<if:searchResults>
<h1 class="header"><gettext>Search Results</gettext> (<tag:searchTotal />)</h1>
<table style="width: 100%" class="item linedRow" cellspacing="0">
<loop:searchResults>
<tr class="item">
 <th colspan="4" style="width:99%" class="leftAlign item">
  <a href="<tag:searchResults.forum_url />"><strong><tag:searchResults.forum_name /></strong></a>
 </th>
</tr>
<loop:searchResults.messages>
<tr class="item">
 <td style="width:5%" class="item">&nbsp;</td>
 <td style="width:54%" class="leftAlign item">
   <a href="<tag:searchResults.messages.message_url />"><tag:searchResults.messages.message_subject /></a>
 </td>
 <td style="width:20%" class="leftAlign item">
   <strong><tag:searchResults.messages.message_author /></strong>
 </td>
 <td style="width:20%" class="leftAlign item">
   <tag:searchResults.messages.message_date />
 </td>
</tr>
</loop:searchResults.messages>
</loop:searchResults>
</table>

<tag:pager_link />

<br class="spacer" />

</if:searchResults>

<tag:searchForm />
